services:
  - type: web
    name: frock-backend
    runtime: docker
    repo: https://github.com/TU_USUARIO/TU_REPO_BACKEND.git  # ⚠️ CAMBIAR ESTO
    branch: main  # o master, según tu rama principal
    dockerfilePath: ./Dockerfile
    dockerContext: .
    envVars:
      - key: ASPNETCORE_ENVIRONMENT
        value: Production
      - key: ASPNETCORE_URLS
        value: http://+:8080
      - key: ConnectionStrings__DefaultConnection
        sync: false  # Lo configuraremos manualmente en Render
      - key: TokenSettings__Secret
        generateValue: true  # Render generará un valor aleatorio
      - key: Cloudinary__CloudName
        value: dyv3r7pnw
      - key: Cloudinary__ApiKey
        value: "699651913171825"
      - key: Cloudinary__ApiSecret
        value: l7Z4AkM8nIw2sp7Eqs_4K3nXaQE
      - key: GeoApi__BaseUrl
        value: https://django-production-0960.up.railway.app/api/districts/
    healthCheckPath: /swagger/index.html
    autoDeploy: true