services:
  - type: web
    name: frock-backend
    runtime: docker
    repo: https://github.com/Software-Architecture-2146/Frock-backend-monolito.git
    branch: main
    dockerfilePath: ./Dockerfile
    dockerContext: .
    envVars:
      - key: ASPNETCORE_ENVIRONMENT
        value: Production
      - key: ASPNETCORE_URLS
        value: http://+:8080
      - key: ConnectionStrings__DefaultConnection
        value: server=mysql.railway.internal;port=3306;user=root;password=MOqOhTHKwcmajaCEWcGPljyEWOYNmaEO;database=railway
      - key: TokenSettings__Secret
        generateValue: true
      - key: Cloudinary__CloudName
        value: dyv3r7pnw
      - key: Cloudinary__ApiKey
        value: "699651913171825"
      - key: Cloudinary__ApiSecret
        value: l7Z4AkM8nIw2sp7Eqs_4K3nXaQE
      - key: GeoApi__BaseUrl
        value: https://django-production-0960.up.railway.app/api/districts/
    healthCheckPath: /swagger/index.html
    autoDeploy: true